body {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    width: auto;
    margin-right: 0;
    box-sizing: border-box;
}

body * {
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    padding-top: 35px;
}

.carousel-imagenes {
    width: 100%;
}

.borde {
    border-bottom: 2px solid #309ba5;
    padding-bottom: 16px;
    margin-bottom: 8px;
}

.navbar {
    background-color: #309ba5;
    color: white;
    position: fixed;
    top: 0;
}

nav img {
    height: 35px;
}

.iconos {
    background: #309ba5;
    color: white;
}

.description {
    display: inline-block;
    text-align: justify;
    font-size: 25px;
    padding: 50px;
}

.description p {
    font-weight: normal;
    font-size: 15px;
    line-height: 1;
    margin-bottom: 30px;
    text-align: justify;
    line-height: 25px;
}

.three-col {
    display: flex;
    column-count: 3;
}

.card {
    background: #309ba5;
    font-size: small;
}

#destacados img {
    height: 136.41px;
    width: 100%;
}

footer {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #309ba5;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
}

footer i {
    color: white;
    padding-right: 8px;
}
